@import "../../variables.scss";

.lobbyview {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: row-reverse;
}

@mixin notification {
  font-style: italic;
}

.chatbox {
  position: fixed;
  bottom: calc(55px + 3vw);
  left: 1em;
  z-index: 1000;
  height: auto;
  display: flex;
  flex-direction: column;

  font-size: 1em;

  .messages {
    width: 300px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.65);
  }

  // class for chatbox when docked to the left
  &.left {
    left: 1em;
  }

  // class for chatbox when docked right
  &.right {
    left: auto;
    right: 1em;
    order: -1;
  }

  // styling for chat text
  .chat-text {
    height: auto;
    float: right;
    /* font-weight: bold; */
    text-align: left;
    line-height: 30px;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.7);

    &.old {
      display: none;
    }

    &.info {
      @include notification;
      color: rgba(127, 127, 255, 0.7);
    }

    &.warning {
      @include notification;
      color: rgba(255, 255, 127, 0.7);
    }

    &.success {
      @include notification;
      color: rgba(127, 255, 127, 0.7);
    }

    &.error {
      @include notification;
      color: rgba(255, 127, 127, 0.7);
    }

    .command-list {
      list-style-type: none;
      padding-left: 0.5em;
      margin: 0;
      background-color: rgba(0, 0, 0, 0.5);
      border: 1px solid rgba(63, 63, 63, 0.3);
      border-radius: 0.4em;
      padding: 0.2em;

      li {
        margin: 0px;
      }
    }
  }

  .chatboxTextEntry {
    position: absolute;
    bottom: 0;

    outline-color: rgba(255, 255, 255, 0.5);
    outline-width: 1px;
    outline-style: solid;
    outline-offset: -1px;
    border: none;
    fill: none;
    background: transparent;
    color: white;

    width: 300px;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;

    padding: 0 0.35em;

    transition: background-color 0.5s;
  }

  .chatboxTextEntry:focus {
    background-color: rgba(0, 0, 0, 0.8);
  }

  // docked flavor of the chatbox
  &.docked {
    position: relative;
    bottom: 1px;
    left: 1px;
    // background-color: rgba(15,15,15,1);
    background-color: rgb(7, 7, 7);

    .messages {
      flex-grow: 1;
      width: 300px;
      overflow-y: scroll;
      padding: 0.5em;
      display: flex;
      flex-direction: column;
    }

    .chat-text.old {
      display: initial;
    }

    .chatboxTextEntry {
      position: relative;
    }
  }

  .command {
    font-family: monospace;
    border-radius: 0.15em;
    background-color: rgba(255, 255, 255, 0.1);
    color: $color-primary-accent;
    font-style: normal;
    padding: 0.1em;
  }
}
