.db_data
.certbot
node_modules
coverage
config.js

# development favicons
favicon.ico
logo512.png
logo192.png
devfavicon.ico
devlogo512.png
devlogo192.png
orig_favicon.ico
orig_logo512.png
orig_logo192.png

# production
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/settings.json
.vscode
