/* properly layout the container and makesure its backfill is black */
.shakaContainer {
  background-color: black;
  height: 100%;
  width: 100%;
  text-align: center;
}

/* make sure the video fills the container */
.shakaContainer > video {
  width: 100%;
  height: 100%;
}

.shaka-controls-button-panel {
  overflow: visible !important;
}

.collapsed .playerQueueList {
  display: none;
}
.playerQueueList {
  width: 250px;
  //height: 10px;
  background-color: rgba(0,0,7,0.5);
  border-radius: 0.5em;
  position: absolute;
  bottom: 125%;
  left: 0;
}
