@import "../../../variables.scss";

@mixin notification {
  font-style: italic;
}

@mixin my-scrollbar($color) {
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 0.5em;
  }
  &::-webkit-scrollbar-button {
  }
  &::-webkit-scrollbar-track {
    //background-color: rgba(255,191,223,0.05);
    //border-radius: 1em;
  }
  &::-webkit-scrollbar-track-piece {
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: 1em;
  }
}

@mixin fullchat {
  width: 100%;
  min-width: 250px;
  position: relative;
  bottom: 1px;
  left: 0px;
  right: 0px;
  background-color: rgb(7, 7, 7);

  .chat-area {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.75em;
    max-height: none;
    margin-bottom: 0;
  }

  .chatbox-text-entry {
    margin: 0;
    position: relative;
  }
}

@keyframes ellipses {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}

.chatbox {
  position: fixed;
  bottom: calc(55px + 3vw);
  width: 300px;
  left: 1em;
  right: 1em;
  z-index: 1000;
  height: auto;
  display: flex;
  flex-direction: column;

  font-size: 1em;

  .chat-area {
    // width: 300px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.65);
    //border-top-left-radius: 0.5em;
    //border-top-right-radius: 0.5em;
    border-radius: 0.5em;
    overflow-y: scroll;
    max-height: 50vh;
    margin-bottom: 0.3em;

    &::-webkit-scrollbar {
      background-color: transparent;
      width: 0.5em;
    }
    &::-webkit-scrollbar-button {
    }
    &::-webkit-scrollbar-track {
      //background-color: rgba(255,191,223,0.05);
      //border-radius: 1em;
    }
    &::-webkit-scrollbar-track-piece {
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 223, 239, 0.15);
      border-radius: 1em;
    }

    .users-typing {
      font-size: 0.8em;
      padding: 0.1em 1em;
    }
    .users-typing::after {
      animation: ellipses 4s infinite;
      display: inline-block;
      content: "";
    }
  }

  // class for chatbox when docked to the left
  &[display-side="left"] {
    // left: 1em;
    right: auto;
  }

  // class for chatbox when docked right
  &[display-side="right"] {
    left: auto;
    // right: 1em;
    order: -1;
  }

  .chat-stream {
    &[kind="user-chunk"],
    &[kind="whisper-chunk"] {
      margin: 0.15em 0;
    }

    // &[open] {
    //   border: 1px solid rgba(191,191,0,0.5);
    // }
  }

  // styling for chat text
  .stream-line {
    height: auto;
    // float: right;
    /* font-weight: bold; */
    text-align: left;
    line-height: 1.5em;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.7);

    &[kind="user-message"],
    &[kind="whisper-message"] {
      .user-message,
      .whisper-message {
        padding: 0;
      }
      .message-sender {
        display: none;
      }
      .message-content {
        // padding-top: .1em;
      }
      .message-time {
        color: rgba(191, 191, 191, 0.75);
        // font-size: 0.6em;
        float: right;
        position: relative;
        // width: 3em;
        height: 1.2em;

        span {
          font-size: 0.6em;
          // position: absolute;
          // bottom: 0;
          // right: 6px;
        }
      }

      .message-more {
        float: right;
        opacity: 0;
        transition: opacity 0.5s;
        cursor: pointer;
        position: relative;

        .message-menu {
          display: none;
          position: absolute;
          top: 100%;
          right: 0;
          border-radius: 0.4em;
          overflow: hidden;
          min-width: 120px;

          .message-menu-item {
            background-color: rgb(15, 15, 15);
            padding: 0.4em;
            width: 100%;

            &:hover {
              background-color: rgb(31, 31, 39);
            }

            i.material-icons {
              display: inline;
              padding: 0.2em;
            }
          }
        }
        &:hover .message-menu {
          display: flex;
        }
      }
      &:hover .message-more {
        opacity: 1;
        z-index: 100;
      }

      &:first-child {
        .message-sender {
          display: block;
          padding-top: 0.1em;
        }
      }
    }

    &[kind="info"],
    &[kind="info-message"] {
      @include notification;
      color: rgba(127, 127, 255, 0.9);
    }

    &[kind="warning"] {
      @include notification;
      color: rgba(255, 255, 127, 0.9);
    }

    &[kind="success"] {
      @include notification;
      color: rgba(127, 255, 127, 0.9);
    }

    &[kind="error"] {
      @include notification;
      color: rgba(255, 127, 127, 0.9);
    }
  }

  .chatbox-text-entry {
    //position: absolute;
    //bottom: 0;
    @include my-scrollbar(rgba(255, 223, 239, 0.35));
    overflow-x: hidden;
    resize: none;
    max-height: calc(5 * 1.2em + 2px);
    min-height: calc(1.2em + 0.5em + 2px);
    box-sizing: border-box;

    outline: none;
    border: rgba(255, 255, 255, 0.4);
    border-width: 1px;
    border-style: solid;
    // outline-offset: -1px;
    // border: none;
    border-radius: 0.2em;
    fill: none;
    background: rgba(0, 0, 0, 0.4);
    color: white;

    // width: 300px;
    //height: 30px;
    height: calc(1.5em + 4px);
    vertical-align: middle;
    line-height: 1.2em;

    //padding: 0 0.35em;
    padding: 0.25em 0.35em;

    transition: opacity 0.3s, background-color 0.3s, border-color 0.3s;
    //opacity: 0.5;

    &.command {
      font-size: 1.15em;
    }

    &:focus {
      border-color: rgba(255, 255, 255, 1);
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 1;
    }
  }

  &[display="float"][display-visibility="invisible"] {
    opacity: 0.95;

    .chatbox-text-entry {
      opacity: 0;

      &:focus {
        opacity: 1;
      }
    }
  }

  // docked flavor of the chatbox
  &[display="docked"] {
    @include fullchat;
  }

  .send-button {
    display: none;
  }

  @media only screen and (max-width: 600px) {
    @include fullchat;
    font-size: 20px !important;

    .chatbox-text-entry {
      font-size: 22px;
    }

    .send-button {
      // display: inline-block;
      // position: absolute;
      // right: 0;
      // bottom: 1px;
      // height: 38px;
      // width: 38px;
      // font-size: 24px;
      // text-align: center;
      // border-radius: 5px;
      // border-top-left-radius: 0;
      // border-bottom-left-radius: 0;
      // background-color: rgba(255, 255, 255, 0.9);
      // color: blue;
    }
  }

  &:not([display="docked"]) {
    .chat-stream {
      &.old {
        display: none !important;
      }
    }

    .stream-line {
      &.old {
        display: none !important;
      }
      &.old + .stream-line:not(.old) {
        .message-sender {
          display: block;
        }
      }
    }
  }

  .inline-command {
    font-family: monospace;
    border-radius: 0.15em;
    background-color: rgba(255, 255, 255, 0.1);
    color: mix($color-primary-accent, white, 70%);
    font-style: normal;
    padding: 0.1em;
    border: 1px solid rgba(255, 255, 255, 0.08);
  }

  .command {
    font-family: monospace;
    border-radius: 0.2em;
    background-color: rgba(0, 0, 0, 0.9);
    color: mix($color-primary-accent, white, 70%);
    font-style: normal;
    // padding: 0.1em;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .command-arg {
    font-family: monospace;
    color: mix($color-primary-accent, white, 40%);
    opacity: 0.7;
  }

  .command-list {
    list-style-type: none;
    padding-left: 0.5em;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(63, 63, 63, 0.3);
    border-radius: 0.4em;
    padding: 0.2em;

    li {
      margin: 0px;
      line-height: 1.7;
    }
  }

  .chat-stream[kind="command-box"] {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: monospace;
    border-radius: 0.45em;
    // background-color: rgba(255, 127, 191, 0.1);
    background-color: rgba(31, 31, 31, 0.5);
    color: mix($color-primary-accent, white, 70%);
    font-style: normal;
    padding: 0;
    border: 1px solid rgba(255, 0, 127, 0.3);
    position: relative;
    margin: 0.25em 0;
    line-height: 1;

    &[open] {
      border: 1px solid rgba(191, 191, 0, 0.5);
    }

    > * {
      display: block;
      padding: 0.15em 0.5em;
      // background: rgba(255, 255, 255, 0.08);
      border-bottom: 1px dashed rgba(255, 191, 223, 0.2);
    }
    > *:last-child {
      border-bottom: none;
    }
    > *:first-child {
      &[kind="command-entered"] {
        font-family: monospace;
        border-radius: 0.15em;
        background-color: rgba(47, 0, 11, 0.5);
        color: mix(mix($color-primary-accent, white, 70%), transparent, 85%);
        font-style: normal;
        border: none;
        border-bottom: 1px solid rgba(255, 0, 95, 0.15);
        width: 100%;
        margin-top: 0em;
      }
    }
  }

  .user-message,
  .whisper-message {
    display: flex;
    flex-direction: column;
    padding: 0.25em 0.1em 0.15em;
    margin-bottom: 0.15em;

    .message-sender {
      font-size: 0.75em;
      line-height: 1.4;
      padding: 0;
      margin: 0;
      font-weight: bold;

      .sender-tab {
        background-color: rgba(31, 31, 39, 0.5);
        padding: 0.1em 0.4em 0.05em;
        border-radius: 0.25em;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        .whisper-indicator {
          // color: rgba(191,127,255,0.4);
          font-weight: 500;
          font-style: italic;
          font-size: 0.9em;
          margin-left: 0.3em;
        }
      }
    }

    .message-content {
      line-height: 1.2em;
      // padding: 0;
      // margin: 0;
      // margin: 0.075em;
      margin: 0;

      border-radius: 0.3em;
      border-top-left-radius: 0.1em;
      // background-color: rgba(255,255,255,0.085);
      background-color: rgba(31, 31, 39, 0.5);
      padding: 0.2em 0.3em;
      // padding: 0.3em;
      // padding-bottom: 0.3em;

      word-break: break-word;

      .markup-bold {
        font-weight: bold;
      }
      .markup-italic {
        font-style: italic;
      }

      &:not(:last-child) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .message-extra {
      background-color: rgba(47, 47, 55, 0.5);
      &:last-child {
        border-radius: 0.4em;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    .message-replyto {
      padding: 0 0.3em 0.3em;
      background-color: rgba(255, 255, 255, 0.07);
      margin-bottom: 0.4em;
      border-radius: 0.4em;
      border: 1px solid rgba(0, 0, 0, 0.2);

      blockquote {
        margin: 0;
        padding: 0.1em 0.4em;
        font-size: 1em;
        font-weight: normal;
      }
      .message-replyuser {
        font-size: 0.8em;
        // text-align: right;
        // font-style: italic;
        // margin-right: 10%;
        margin-bottom: 0.35em;
      }
    }
  }

  // :not(.old) + .message .same-sender,
  // &.docked .same-sender {
  //   padding-top: 0;
  //
  //   .message-sender {
  //     display: none;
  //   }
  // }

  .message-extra-urllink {
    // min-height: 2.5em;
    display: flex;
    margin: 0;
    padding: 0.4em;
    align-items: center;
    // justify-content: center;
    .extra-urllink-icon {
      width: auto;
      height: 24px;
      width: 24px;
    }
    .extra-urllink-info {
      flex-basis: 0;
      flex-grow: 1;
      padding: 0 0.4em;
      .extra-urllink-title {
        font-size: 1em;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.7);
        margin: 0;
      }
      .extra-urllink-description {
        font-size: 0.7em;
        color: rgba(255, 255, 255, 0.5);
        line-height: 1.3;
        margin: 0;
      }
    }
  }

  .chatbox-modifiers {
    background-color: rgba(47, 47, 55, 0.6);
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.8em;
    padding: 0.1em 0.3em;
    border-radius: 0.3em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    &:empty {
      display: none;
    }
    &:not(:empty) + .chatbox-text-entry {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  a {
    word-break: break-word;
  }
}
