$color-primary-1: rgb(32, 0, 127);
$color-primary-2: rgb(127, 0, 95);

$color-primary-accent: rgb(191, 0, 63);

$color-translucent-shadow: rgba(0, 0, 0, 0.1);
$color-translucent-dark-background: rgba(0, 0, 0, 0.5);

$color-translucent-highlight: mix(
  rgba(255, 255, 255, 0.1),
  change-color($color-primary-accent, $alpha: 0.1),
  80%
);
