$color-primary-1: darken(rgb(32, 0, 127), 5%);
$color-primary-2: darken(rgb(127, 0, 95), 5%);

$color-primary-accent: rgb(255, 0, 100);

$color-translucent-shadow: rgba(0, 0, 0, 0.1);
$color-translucent-dark-background: rgba(0, 0, 0, 0.6);

$color-sidenav-highlight: rgba(220, 220, 220, 0.1);

$color-media-highlight: rgba(220, 220, 220, 0.2);

@mixin dropshadow() {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
