@import "../variables.scss";

.login-view-container {
  background: linear-gradient(
    55deg,
    mix($color-primary-1, $background-muting-color, 60%),
    mix($color-primary-2, $background-muting-color, 60%)
  );
}

.loginview {
  color: white;
  width: 300px;
  padding: 1em;
  border-radius: 2em;
  background-color: $color-translucent-dark-background;
}

.loginview h3 {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 30px;
}

.loginview h3::before {
  content: "";
  display: block;
  height: 1.2em;
  background-image: url("/assets/img/logo512.png");
  width: 1.2em;
  background-size: contain;
  margin: 0.15em;
  font-weight: bold;
}

.loginview input[type="submit"] {
  background-color: rgb(255, 0, 95);
  color: white;
  border-style: none;
  /* border-radius: 2px; */
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 1em;
  transition: background-color 0.3s;
  border-radius: 2em;
}
.loginview input[type="submit"]:hover {
  background-color: rgb(255, 0, 191);
}

.loginview input[type="text"],
.loginview input[type="password"] {
  border-radius: 0.35em;
  border: 1px solid rgba(255, 0, 95, 0.2);
  margin-bottom: 0.5em;
}

.loginview input[type="text"]:hover,
.loginview input[type="password"]:hover {
  border: 1px solid rgba(255, 0, 191, 0.4);
}

.loginview input[type="text"]:focus,
.loginview input[type="password"]:focus {
  border: 1px solid rgba(63, 0, 255, 0.7);
}
