html, body, .App {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(50, 52, 58);
}

.App * {
  color: white;
}

.App {
  display: flex;
  flex-direction: row;
}

.sidenav-container {
  width: 200px;
  height: 100%;
}

.content-container {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.sidenav {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.sidenav a {
  font-size: 1.2em;
  color: rgb(220, 220, 220);
  text-decoration: none;
  padding: 15px;
}

.sidenav a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgba(255,255,255,0.05);
  border-left: 4px solid rgba(255,155,0, 0.5);
}

.sidenav a.selected {
  border-left: 4px solid rgba(255,155,0,1);
  background-color: rgba(255,235,200,0.05);
}
