.loginview {
    color: white;
    width: 300px;
    background-color: rgba(0,0,0,0.3);
    padding: 20px;
    border-radius: 4px;
}

.loginview h3 {
    color: white;
}

.loginview input[type=submit] {
    background-color:rgb(255,100,0);
    color: white;
    border-style: none;
    border-radius: 2px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}