/* episode unwatched */
.episode-tv {
    margin: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.episode-tv .inner {
    padding: 10px;
}

.episode-tv a {
    text-decoration: none;
    background-color: none;
    color:rgb(200,200,200);
}

.episode-tv a:hover {
    text-decoration: none;
    background-color: none;
    color: rgb(255,255,255);
}

.episode-tv span {
    color: rgba(200, 200, 200, 0.6);
    float: left;
    font-family: 'Roboto Mono', monospace;
    margin-right: 30px;
}

.episode-tv input.btn-mark-played {
    float: right;
    background-color: rgb(155,150,150);
}

/* episode watched */

.episode-tv-watched {
    background-color: rgba(0, 0, 0, 0.7);
}

.episode-tv-watched a {
    color:rgb(100,100,100);
}

.episode-tv-watched a:hover {
    text-decoration: none;
    background-color: none;
    color: rgb(150,150,150);
}

.episode-tv-watched span {
    color: rgba(180, 180, 180, 0.6);
    float: left;
    font-family: 'Roboto Mono', monospace;
    margin-right: 30px;
}

.episode-tv .episode-progress-bar {
    height: 2px;
    background-color: rgba(255,125,0,0.8);
}