/* series list css */
.seriesList,
.moviesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.seriesList .show,
.moviesList .movie {
  font-size: 1em;
  margin: 5px;
  width: 400px;
  text-decoration: none;
}

.seriesList .show {
  background-color: rgba(0, 0, 0, 0.5);
}

.seriesList .show .inner,
.moviesList .movie .inner {
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.seriesList .show:hover,
.moviesList .movie:hover {
  background-color: rgba(15, 15, 15, 0.5);
  text-decoration: none;
}

.seriesList .show span,
.moviesList .movie span {
  font-size: 0.75em;
  color: rgba(255, 255, 255, 0.75);
  width: 100%;
}

/* episode unwatched */
.episode-tv,
.movie {
  margin: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.episode-tv .inner,
.movie .inner {
  padding: 10px;
}

.episode-tv a,
.movie a {
  text-decoration: none;
  background-color: none;
  color: rgb(200, 200, 200);
}

.episode-tv a:hover,
.movie a:hover {
  text-decoration: none;
  background-color: none;
  color: rgb(255, 255, 255);
}

.episode-tv span,
.movie span {
  color: rgba(200, 200, 200, 0.6);
  float: left;
  font-family: "Roboto Mono", monospace;
  margin-right: 30px;
}

.episode-tv input.btn-mark-played {
  float: right;
  background-color: rgb(155, 150, 150);
}

/* episode watched */

.episode-tv-watched,
.movie-watched {
  background-color: rgba(0, 0, 0, 0.7);
}

.episode-tv-watched a,
.movie-watched a {
  color: rgb(100, 100, 100);
}

.episode-tv-watched a:hover,
.movie-watched a:hover {
  text-decoration: none;
  background-color: none;
  color: rgb(150, 150, 150);
}

.episode-tv-watched span,
.movie-watched span {
  color: rgba(180, 180, 180, 0.6);
  float: left;
  font-family: "Roboto Mono", monospace;
  margin-right: 30px;
}

.episode-tv .episode-progress-bar,
.movie .movie-progress-bar {
  height: 2px;
  background-color: rgba(255, 125, 0, 0.8);
}
