@import "../../variables.scss";

.seriesList,
.moviesList,
.episodeList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

.episodeList {
  flex-direction: column;
}

.seriesList .show,
.moviesList .movie,
.episodeList .episode-tv {
  font-size: 1em;
  margin: 5px;
  width: 400px;
  text-decoration: none !important;
  background-color: $color-translucent-dark-background;
  @include dropshadow();

  .inner {
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a {
    color: rgba(200, 200, 200, 1);
  }

  &:hover {
    background-color: $color-media-highlight;
    a {
      color: white;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.seriesList .show,
.moviesList .movie {
  span {
    font-family: "Roboto Mono", monospace;
    float: right;
    color: rgba(220, 220, 220, 0.5);
    font-size: 0.75em;
  }
}

.episodeList .episode-tv {
  width: 100%;
  span {
    font-family: "Roboto Mono", monospace;
    color: rgba(155, 155, 155, 0.75);
    width: 100%;
    margin-right: 2em;
  }
}
